.room_container {
  width: 100vw;
  height: 100vh;
  background-color: #F0F0F4;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.room_input {
  width: 500px;
  margin-bottom: 25px;
}

.room_messages {
  width: 700px;
  flex: 1;
  background-color: #F0F0F4;
  margin-top: 25px;
  margin-bottom: 25px;
  overflow: scroll;
}

.room_message_container_wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transform: scale(1, -1);
}

.room_message_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  transform: scale(1, -1);
}

.room_message_container_own {
  align-items: flex-end;
  align-self: flex-end;
}

.room_message_container_others {
  align-items: flex-start;
  align-self: flex-start;
}

.room_message_box {
  min-width: 50px;
  max-width: 500px;
  border-radius: 7px;
}

.room_message_box_own {
  background-color: #F35336;
}

.room_message_box_others {
  background-color: #F0F0F4;
  border: 1px solid black;
}

.room_message_content {
  font-size: 12px;
  margin: 7px;
}

.room_message_content_own {
  color: white;
}

.room_message_content_others {
  color: black;
}
